@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;   /* estaba en 100vh ubicación despues de la navbar 70vh*/
    /* background: linear-gradient(to bottom, #f1f4f9,#dff1ff);   Lo pase al Body*/
}
section .color{
position:absolute;
filter: blur(150px) !important;
}
section .color:nth-child(1){
    top:         -56%;                 /* top:-350px toma por encima de la pagina movi a 118px; 18.9%*/
    width:        72%;                 /* width: 800px; toma por encima de la pagina 72%*/
    height:      128%;                 /* height: 600px; toma por encima de la pagina deje en 340px 54%*/
    background: #700672;
    z-index: -1; 
}
section .color:nth-child(2){
    bottom:     -24%;                 /* bottom:-150px toma por encima de la pagina -25%*/
    left:         9%;                 /* left:100px; toma por encima de la pagina*/
    width:     45.3%;                 /* width:500px; toma por encima de la pagina*/
    height:      80%;                 /* height:500px; toma por encima de la pagina*/
    background: #218602;
}
section .color:nth-child(3){
    bottom:     7.5%;                 /* bottom:50px toma por encima de la pagina -25%*/
    right:        9%;                 /* right:100px; toma por encima de la pagina*/
    width:       27%;                 /* width:300px; toma por encima de la pagina*/
    height:      49%;                 /* height:300px; toma por encima de la pagina*/
    background: #2d0c79;
}
.box{
    position: relative;
}
.box .square{
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border:1px solid rgba(255,255,255,0.5);
    border-right:1px solid rgba(0, 0, 0, 0.2);
    border-bottom:1px solid rgba(0, 0, 0, 0.2);
    background: rgba(101,3,121,0.1);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay:calc(-1s *var(--i));
}
@keyframes animate
{
    0%,100%
    {
        transform: translateY(-40px);
    }
    50%
    {
        transform: translateY(40px);
    }
}
.box .square:nth-child(1){           /* esta encima a la derecha */
    top:    20px;
    right:  -60px;
    width:  100px;
    height: 100px;
}
.box .square:nth-child(2){           /* esta encima a la izquierda */
    top:    150px;
    left:  -100px;
    width:  120px;
    height: 120px;
    z-index: 2;
}
.box .square:nth-child(3){           /* esta abajo a la der */
    bottom:  -10px;
    right:  -60px;
    width:   80px;
    height:  80px;
    z-index: 2;
}
.box .square:nth-child(4){           /* esta abajo a la cent */
    bottom: -20px;
    left:   100px;
    width:   50px;
    height:  50px;
}
.box .square:nth-child(5){      /* esta encima al centro */
    top:    -10px;      /* estaba en -80 */
    left:   140px;
    width:   60px;
    height:  60px;
}
.containerLog{ 
    position: relative;
    width:      400px;
    min-height:   400px;      /* estaba en 400 */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border:1px solid rgba(255,255,255,0.5);
    border-right:1px solid rgba(255, 255, 255, 0.2);
    border-bottom:1px solid rgba(255, 255, 255, 0.2);
}
.form{
    position: relative;
    width:      100%;
    height:     10%;    /*esta en 100%*/
    padding:     30px;    /*esta en 40px*/
    z-index:1;           /*lo puse pero no afecta mucho la posicón encima de*/
}
.form h1{
    color: #fff;
}
.form h2{
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;    /*esta en 40px*/
}
.form h2::before{
    content: "";
    position: absolute;
    left: 0;
    bottom:-10px;
    width:80px;
    height: 4px;
    background: #fff;
}
.form .inputBox{
width: 100%;
margin-top: 10px;       /*estaba en 20px*/
}
.form .inputBox input{
width: 100%;
background: rgba(255,255,255,0.2);
border:     none;
outline:    none;
padding: 10px 20px;
border-radius: 35px;
border:1px solid rgba(255,255,255,0.5);
    border-right:1px solid rgba(0, 0, 0, 0.2);
    border-bottom:1px solid rgba(0, 0, 0, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
.form .inputBox input::placeholder{
    color:  #fff;
}
.form .inputBox input[type="submit"]{
background: #fff;
    color: #666;
    max-width: 100px;
    cursor:pointer;
    margin-bottom: 20px;
    font-weight: 600;
}
.forget{
    margin-top: 5px;
    color: #fff;
}
.forget a{
    color: #fff;
    font-weight: 600;
    margin-top: 3px;
}

@media (max-width: 576px){
    section{
        display: flex;
        min-height: 60vh;
        position: absolute;
        z-index: -2;
    }   
}