/* Creo un importe y agrego los estilos predeterminados */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ubuntu{
  font-family: "Ubuntu" !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.imgHead {
  object-fit: cover;
  object-position: center;
  width: 26%;
  height: 75px;
}

.logOut { 
  display:"none"
}